@font-face {
	font-family: DroidKufi-regular;
	src: 
	url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.eot?#iefix) format("embedded-opentype"), 
	url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.woff2) format("x-woff2"), 
	url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.woff) format("woff"), 
	url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}





 .css-input { border-color:#cccccc; 
 border-style:solid; font-size:13px; padding:4px; border-radius:6px; border-width:1px; background-color:#fafafa; margin:10px 10px 10px 10px;  } 
		 .css-input:focus { outline:none; } 
		
		.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
 -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
   box-shadow:inset 0px 1px 0px 0px #54a3f7;
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
        background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
 background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
     background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
     background-color:#007dc1;
     -moz-border-radius:3px;
       -webkit-border-radius:3px;
      border-radius:3px;
     border:1px solid #124d77;
 display:inline-block;
     cursor:pointer;
       color:#ffffff;
  
   padding:6px 24px;
     text-decoration:none;
 text-shadow:0px 1px 0px #154682;
}
.btn:hover {
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
        background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
 background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
     background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
     background-color:#0061a7;
}
.btn:active {
 position:relative;
        top:1px;
}



.btn-green {
      -moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
   -webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
     box-shadow:inset 0px 1px 0px 0px #3dc21b;
       background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
  background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
   background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
       background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
       background-color:#44c767;
       -moz-border-radius:3px;
 -webkit-border-radius:3px;
        border-radius:3px;
       border:1px solid #18ab29;
   display:inline-block;
       cursor:pointer;
 color:#ffffff;
    font-size:13px;
      padding:6px 24px;
        text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.btn-green:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
     background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
       background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
      background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
     background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color:#5cbf2a;
}
.btn-green:active {
        position:relative;
       top:1px;
}
 
.btn-red {
        -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
     -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
       box-shadow:inset 0px 1px 0px 0px #cf866c;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
      background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
     background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
 background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
 background-color:#d0451b;
 -moz-border-radius:3px;
   -webkit-border-radius:3px;
  border-radius:3px;
 border:1px solid #942911;
     display:inline-block;
 cursor:pointer;
   color:#ffffff;
      font-size:13px;
        padding:6px 24px;
  text-decoration:none;
      text-shadow:0px 1px 0px #854629;
}
.btn-red:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
 background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
   background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
      background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
 background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
      background-color:#bc3315;
}
.btn-red:active {
      position:relative;
     top:1px;
}




.btn-blue {
        -moz-box-shadow:inset 0px 1px 0px 0px #007dc1;
     -webkit-box-shadow:inset 0px 1px 0px 0px #007dc1;
       box-shadow:inset 0px 1px 0px 0px #007dc1;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #007dc1 5%, #007dc1 100%);
      background:-webkit-linear-gradient(top, #007dc1 5%, #007dc1 100%);
     background:-o-linear-gradient(top, #007dc1 5%, #bc3315 100%);
 background:-ms-linear-gradient(top, #007dc1 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #007dc1 100%);
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#007dc1',GradientType=0);
 background-color:#007dc1;
 -moz-border-radius:3px;
   -webkit-border-radius:3px;
  border-radius:3px;
 border:1px solid #007dc1;
     display:inline-block;
 cursor:pointer;
   color:#ffffff;
      font-size:13px;
        padding:6px 24px;
  text-decoration:none;
      text-shadow:0px 1px 0px #007dc1;
}
.btn-blue:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc9), color-stop(1, #007dc9));
 background:-moz-linear-gradient(top, #007dc9 5%, #007dc9 100%);
   background:-webkit-linear-gradient(top, #ff7dc9 5%, #ff7dc9 100%);
  background:-o-linear-gradient(top, #ff7dc9 5%, #ff7dc9 100%);
      background:-ms-linear-gradient(top, #ff7dc9 5%, #ff7dc9 100%);
 background:linear-gradient(to bottom, #007df3 5%, #007df3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc9', endColorstr='#007dc9',GradientType=0);
      background-color:#007dc9;
}
.btn-blue:active {
      position:relative;
     top:1px;
}